/*=========================================================
                        common
==========================================================*/

// text color for headings of the page
.heading-text-color{
    color: var(--ion-color-dark);
}
// gird side margins
ion-grid{
    margin: 10px 20px!important;
}
.ripple{
    position: relative;
    overflow: hidden;
    color: var(--ion-color-secondary);
}

/*=========================================================
                        Heading
==========================================================*/
// Heading font style
#headingStyle p{
    font: 500 18px 'Raleway', sans-serif !important;
    //text-align: center;
}
// cancel icon
.cancel-icon{
    display: flex;
    justify-content: flex-end !important;
    margin-top: 12px;
}
#cancel-padd{
    padding: 10px 10px 5px 10px;
    
}

/*=========================================================
                        User comments 
==========================================================*/
// overall top space for comments...
#grid-comments{
    margin-top: 5px;
}
// gap between each comment
.comment{
    margin-bottom: 10px;
}
// user profile width and height
ion-avatar{
    width: 30px;  
    height: 30px;  
}
// UserName font styles
.userName{
    font: bold 14px 'Raleway', sans-serif;
    margin-top: -13px;
    margin-bottom: -40px ;
    color: black;
}
// userComment font Styles
.userComment{
    font:  normal 14px 'Quicksand', sans-serif;
    color: var(--ion-color-warning);
}

/*=========================================================
                        User comments 
==========================================================*/
// footer at bottom of the page
ion-footer{
    position: absolute;
    bottom: 0px;
    width: 100%;
}
// to leave space at the right and left side of the page
#grid-footer{
    margin: auto 20px auto 20px !important;
}
// avatar
#avatar{
     margin-top: 7px !important;
}
// input field
ion-input{
    --placeholder-color : var(--ion-color-warning) ;
    --placeholder-font-style:'Quicksand', sans-serif !important;
    margin-top: 5px;
}
// send icon
#send-icon{
    display: flex;
    justify-content: flex-end !important;
    margin-top: 3px;
    zoom : 1.3 !important;
}
#send-padd{
    padding: 7px 10px 3px 10px;
}



