/*=======================================
                 Toolbar
========================================*/
* {
  font-family: "Raleway";
}

/*=======================================
                 Toolbar
========================================*/

ion-toolbar {
  .into-button {
    margin-top: 32px;
    margin-right: 24px;
  }
}

/*=======================================
                 Icon size
========================================*/

ion-icon {
  &.toolbar-icon {
    width: 16px;
    height: 16px;
  }
  &.footer-icon {
    width: 25px;
    height: 25px;
  }
}
/*=======================================
        Avatar and its name
========================================*/

.avatar-name {
  margin-left: 18px;
}

/*=======================================
            Category selection
========================================*/

ion-select {
  min-width: 100%;
  padding-left: 0;
}
.select-item {
  position: absolute;
  height: 40px;
  left: 38px;
  right: 38px;
  top: 15px;
  background: var(--ion-color-white);
  border: 0.5px solid var(--ion-color-tertiary);
  box-sizing: border-box;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.select-category {
  margin-top: -8px;
  font-family: Quicksand;
  font-size: 18px;
}
ion-select::part(icon) {
  color: var(--ion-color-primary);
  opacity: 1;
}
ion-select::part(placeholder) {
  //color:var(--ion-color-warning);
  opacity: 0.56;
}

/*=======================================
            Comment section
========================================*/

.comments-item {
  position: absolute;
  height: 180px;
  left: 23px;
  right: 23px;
  top: 65px;
  background: var(--ion-color-white);
  box-sizing: border-box;
  border-radius: 5px;
}
ion-textarea {
  // --placeholder-color : var(--ion-color-warning);
  font-family: Quicksand;
  margin-top: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
}
/*=======================================
            Image section
========================================*/

.image-size {
  width: 100%;
  height: 100% !important;
}

.image-col-width {
  position: absolute;
  height: 185px;
  left: 34px;
  right: 24px;
  top: 320px;
  margin-left: 0px;
  box-sizing: border-box;
  border-radius: 5px;
}

/*=======================================
        Image closing section
========================================*/

.into-avatar {
  position: absolute;
  width: 25px;
  height: 25px;
  right: 22px;
  top: 308px;
  border-radius: 50%;
  background: var(--ion-color-dark);
  box-sizing: border-box;
}
.into-size {
  width: 13px;
  height: 13px;
  margin-top: 6px;
  margin-left: 6px;
}
/*=======================================
            Footer section
========================================*/

ion-footer {
  height: 90px !important;

  .footer-button-photo {
    padding-left: 25px;
  }
  .footer-button-Go {
    padding-right: 25px;
  }
}

/*=======================================
  Media queries - Image height extension
========================================*/

@media (min-width: 450px) and (max-width: 750px) {
  .image-col-width {
    height: 280px;
  }
}
@media (min-width: 751px) and (max-width: 950px) {
  .image-col-width {
    height: 360px;
  }
}
@media (min-width: 951px) and (max-width: 1050px) {
  .image-col-width {
    height: 420px;
  }
}
@media (min-width: 1051px) {
  .image-col-width {
    height: 450px;
  }
}
