/*==================================================
                       HEADER
==================================================*/
.closeIconResize{
    font-size: 23px;
    padding-right: 5% !important;
    padding: 0;
    margin: 0;
}

/*==================================================
                       Content
==================================================*/
ion-content{
    padding: 0;
    margin: 0;
}

/*Avatar Display*/  
.avatarAlignment{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}
#avatarProfile{
    border: 1px solid var(--ion-color-primary);
    width: 114px;  
    height: 114px;
    position: absolute;
}

/*Camera*/  
#cameraBgIcon{

    position: absolute;
    zoom: 2.5 !important;
}
#cameraIcon
{
    padding-top: 10px !important;
    padding-left: 10.38px !important;
    zoom: 1.1;
}
#cameraAlignment{
    padding-top: 66px;
    padding-left: 75px;

}

/*UserName Edit*/
#userNameEdit{
    padding-top: 45px !important;
    border-bottom: 1px solid var(--ion-color-secondary);
    margin-left: 95px;
    margin-right: 95px;
    padding: 0;
}
#userName{
    padding-left: 2px;
}
#editIcon{
    padding-left: 0;
    padding-right: 2px;
    font-size: 15px;
}
#userName ion-label{
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
}
.noPaddingMarign{
    padding: 0;
    margin: 0;
}