<!-- Header -->
<ion-header class="ion-no-border">
  <ion-toolbar no-border class="closeIconResize">
    <!-- Close Icon -->
    <ion-icon slot="end" src="assets/icon/closeIcon.svg"></ion-icon>
  </ion-toolbar>
</ion-header>
<!-- Header Ends -->

<!-- Content -->
<ion-content no-border [fullscreen]="true">
  <ion-grid>
    <!-- Display Profile with editIcon-->
    <ion-row>
      <!-- Avatar -->
      <ion-col class="avatarAlignment">
        <ion-avatar id="avatarProfile">
          <img src="{{userDetails.profilePic}}" alt="" />
        </ion-avatar>
        <!-- Camera -->
        <div id="cameraAlignment" (click)="selectImage()">
          <ion-icon
            src="assets/icon/cameraBgIcon.svg"
            id="cameraBgIcon"
          ></ion-icon>
          <ion-icon src="assets/icon/cameraIcon.svg" id="cameraIcon"></ion-icon>
        </div>
      </ion-col>
    </ion-row>

    <!-- UserName with editIcon -->
    <ion-row>
      <ion-col>
        <ion-row id="userNameEdit">
          <!-- UserName -->
          <ion-col size="11" id="userName">
            <ion-input
              [(ngModel)]="userDetails.name"
              [disabled]="!profileNameEditStatus"
              class="noPaddingMargin"
            ></ion-input>
          </ion-col>
          <!-- Edit Icon -->
          <ion-col size="1" id="editIcon" (click)="editActionPerformed()">
            <ion-icon
              src="assets/icon/editIcon.svg"
              *ngIf="!profileNameEditStatus"
            ></ion-icon>
            <ion-icon
              id="done-icon"
              name="checkmark"
              *ngIf="profileNameEditStatus"
            ></ion-icon>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <!-- Category Button -->
    <ion-row class="topSpacing">
      <ion-col class="alignCenter">
        <ion-button
          style="
            font-family: 'Quicksand' sans-serif;
            font-size: 14px;
            font-weight: 600;
          "
          shape="round"
          color="dark"
          class="noPaddingMarign"
          id="categoryButton"
          (click)="openCategoryModal()"
        >
          Category<span>{{userDetails.category.length}}</span>
        </ion-button>
      </ion-col>
    </ion-row>

    <!-- Post Heaing -->
    <ion-row class="alignCenter topSpacing">
      <ion-label id="postHeading">Posts</ion-label>
    </ion-row>

    <!-- Post -->
    <ion-row class="alignCenter noPaddingMargin">
      <ion-card>
        <!-- Post Header -->
        <ion-card-header>
          <ion-row class="noPaddingMargin">
            <!-- Post Avatar -->
            <ion-col size="3" class="noPaddingMargin">
              <ion-avatar id="postAvatar"></ion-avatar>
            </ion-col>
            <!-- Post (UserName, Category, Date) -->
            <ion-col size="9" class="noPaddingMargin">
              <ion-row id="postUserNameAlignment" class="noPaddingMarign">
                <h4 class="noPaddingMargin">Poorvasha</h4>
              </ion-row>
              <ion-row id="postCategoryDateDetails" class="noPaddingMarign">
                <h4 class="noPaddingMargin">
                  Science
                  <hr class="noPaddingMargin" />
                  <span>20th Jul,2020</span>
                </h4>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-card-header>
        <!-- Post Header Ends -->

        <!-- Post Content -->
        <ion-card-content id="postContent">
          There is nothing good or bad it’s all about the characterization the
          more you express the more you are
        </ion-card-content>
        <img
          src="../../../assets/B4-images/postImage.png"
          class="img-responisve"
        />
        <!-- Post Content Ends -->

        <!-- Post Footer -->
        <ion-row class="noPaddingMargin">
          <!-- StarIcon with count -->
          <ion-icon
            class="iconResize"
            id="star"
            src="assets/icon/unstarIcon.svg"
          ></ion-icon>
          <ion-badge class="countStyle noPaddingMargin">20</ion-badge>
          <!-- CommentIcon with count -->
          <ion-icon
            class="iconResize"
            id="comment"
            src="assets/icon/commentIcon.svg"
          ></ion-icon>
          <ion-badge class="countStyle noPaddingMargin">30</ion-badge>
        </ion-row>
        <!-- Post Footer Ends -->
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>
