<!-- Header -->
<ion-header class="ion-no-border">
  <ion-toolbar no-border class="closeIconResize">
    <!-- Close Icon -->
    <!-- <ion-icon slot="end" src="assets/icon/closeIcon.svg"></ion-icon> -->
  </ion-toolbar>
</ion-header>
<!-- Header Ends -->

<!-- Content -->
<ion-content no-border [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="updateUserDetails($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-grid>
    <!-- Display Profile with editIcon-->
    <ion-row>
      <!-- Avatar -->
      <ion-col class="avatarAlignment">
        <ion-avatar id="avatarProfile">
          <img src="{{userDetails.profilePic}}" alt="" />
        </ion-avatar>
        <!-- Camera -->
        <div id="cameraAlignment" (click)="selectImage()">
          <ion-icon
            src="assets/icon/cameraBgIcon.svg"
            id="cameraBgIcon"
          ></ion-icon>
          <ion-icon src="assets/icon/cameraIcon.svg" id="cameraIcon"></ion-icon>
        </div>
      </ion-col>
    </ion-row>

    <!-- UserName with editIcon -->
    <ion-row>
      <ion-col>
        <ion-row id="userNameEdit">
          <!-- UserName -->
          <ion-col size="11" id="userName">
            <ion-input
              [(ngModel)]="userDetails.name"
              [disabled]="!profileNameEditStatus"
              class="noPaddingMargin"
            ></ion-input>
          </ion-col>
          <!-- Edit Icon -->
          <ion-col size="1" id="editIcon" (click)="editActionPerformed()">
            <ion-icon
              src="assets/icon/editIcon.svg"
              *ngIf="!profileNameEditStatus"
            ></ion-icon>
            <ion-icon
              id="done-icon"
              name="checkmark"
              *ngIf="profileNameEditStatus"
            ></ion-icon>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <!-- Category Button -->
    <ion-row class="topSpacing">
      <ion-col class="alignCenter">
        <ion-button
          style="
            font-family: 'Quicksand' sans-serif;
            font-size: 14px;
            font-weight: 600;
          "
          shape="round"
          color="dark"
          class="noPaddingMarign"
          id="categoryButton"
          (click)="openCategoryModal()"
        >
          Category<span>{{userDetails.category.length}}</span>
        </ion-button>
      </ion-col>
    </ion-row>

    <!-- Post Heading -->
    <ion-row class="alignCenter topSpacing">
      <ion-label id="postHeading">Posts</ion-label>
    </ion-row>

    <!-- Post -->
    <div>
      <ion-row
        class="noPaddingMargin largeDeviceAlignment"
        *ngFor="let post of feedPosts; let i = index"
      >
        <ion-card>
          <!-- Post Header -->
          <ion-card-header>
            <ion-row class="noPaddingMargin">
              <!-- Post Avatar -->
              <ion-col size="2" class="noPaddingMargin">
                <ion-avatar class="noPaddingMargin" id="postAvatar">
                  <img
                    *ngIf="post.userDetails.profilePic"
                    src="{{post.userDetails.profilePic}}"
                    alt=""
                  />
                </ion-avatar>
              </ion-col>
              <!-- Post (UserName, Category, Date) -->
              <ion-col size="10" class="noPaddingMargin">
                <ion-row id="postUserNameAlignment" class="paddingLeft">
                  <h4 class="noPaddingMargin">{{post.userDetails.name}}</h4>
                </ion-row>
                <ion-row id="postCategoryDateDetails" class="paddingLeft">
                  <h4 class="noPaddingMargin">
                    {{post.category[0]}}
                    <hr class="noPaddingMargin" />
                    <span>{{formatDate(post.date)}}</span>
                  </h4>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-card-header>
          <!-- Post Header Ends -->

          <!-- Post Content -->
          <ion-card-content id="postContent">
            {{post.text}}
          </ion-card-content>
          <img *ngIf="post.image" src="{{post.image}}" class="img-responisve" />
          <!-- Post Content Ends -->

          <!-- Post Footer -->
          <ion-row class="noPaddingMargin bottomPadding">
            <!-- StarIcon with count -->
            <ion-icon
              (click)="updateLike(i)"
              *ngIf="!post.liked"
              class="iconResize"
              id="star"
              src="../../../assets/icon/unstar-icon.svg"
            ></ion-icon>
            <ion-icon
              (click)="updateDisLike(i)"
              *ngIf="post.liked"
              class="iconResize"
              id="star"
              src="../../../assets/icon/star.svg"
            ></ion-icon>
            <ion-badge
              class="countStyle noPaddingMargin"
              *ngIf="post.likes.length"
              >{{numberFormat(post.likes.length)}}</ion-badge
            >
            <!-- CommentIcon with count -->
            <ion-icon
              class="iconResize"
              id="comment"
              src="../../../assets/icon/comment-icon.svg"
              (click)="openCommentsModal(post.id)"
            ></ion-icon>
            <ion-badge class="countStyle noPaddingMargin" *ngIf="post.comments"
              >{{post.comments.length}}</ion-badge
            >
          </ion-row>
          <!-- Post Footer Ends -->
        </ion-card>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>
