.heading{
    text-align:center;
    font-family: 'Raleway', sans-serif;
}

.lower-content{
    text-align: center;
}

img{
    width: 100%;
}


.margin{
    margin-top: 40px;
}

.signup{
    margin-top: 50px;
    //margin-bottom: 10% !important;
}

.error-message {
    color: var(--ion-color-primary);
}
