<!-- Content -->
<ion-content>
  <ion-grid>

    <!-- close Icon -->
    <ion-row class="noPaddingMarign">
      <ion-col id="closeIcon">
        <div class="noPaddingMarign">
        <ion-icon slot="end" src="assets/icon/closeIcon.svg" (click)="dismissPop()"></ion-icon>
      </div>
      </ion-col>
    </ion-row>
  
    <!-- UserName to Rename -->
    <ion-row>
      <ion-col class="alignCenter" id="inputResize">
        <div id="input">
          <ion-input>Poorvasha Murugavel</ion-input>
        </div>
      </ion-col>
    </ion-row>
  
    <!-- Rename Button-->
    <ion-row>
      <ion-col class="alignCenter">
        <ion-button shape="round" text-capitalize color="dark"> Rename </ion-button>
      </ion-col>
    </ion-row>
    
  </ion-grid>
</ion-content>

