/*=========================================================
                        Tabs
==========================================================*/
#home-icon{
    text-align: center;
    zoom: 2;
}
#profile-icon{
    text-align: center;
    zoom: 2.5;
}

/*=========================================================
                        Add Icon
==========================================================*/
/* Add Icon */
#addIcon{
    font-size: 20px !important;
}
ion-fab{
    bottom: 30px;
}
ion-fab-button{
    width: 50px !important;
    height: 50px !important;
    margin: 3px;
}