img {
  width: 80px;
  margin-bottom: 80px;
}

.text-center {
  text-align: center;
}

.margin {
  margin-top: 40px;
}

.signup {
  margin-bottom: 20px;
}

.error-message {
  color: var(--ion-color-primary);
}

.login-input {
  ion-input {
    border-bottom: 1px solid var(--ion-color-secondary);
  }
}

.login-btn {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  ion-button {
    width: 120px !important;
    height: 40px !important;
  }
}
