<ion-content>
  <!-- heading -->
  <p class="headingStyle text-color">Pick your category!</p>

  <!-- grid contains no of cards -->
  <ion-grid>
    <!-- row 1 -->
    <ion-row>
      <!-- col-1 for card -->
      <ion-col
        size="6"
        size-xl="2"
        size-lg="3"
        size-md="3"
        size-sm="4"
        size-xs="6"
        size="12"
        *ngFor="let category of categories; let i = index"
      >
        <!-- card 01 -->
        <ion-card
          class="card-design ion-activatable"
          (click)="categoryClicked(i)"
        >
          <div class="selected" *ngIf="category.isSelected"></div>
          <div class="card-image-adjustment">
            <img src="{{category.image}}" />
          </div>
          <div class="cardTextStyle text-color">
            <p>{{category.name}}</p>
          </div>
          <ion-ripple-effect></ion-ripple-effect>
        </ion-card>
      </ion-col>
    </ion-row>

    <!--  Row 2 -->
    <ion-row id="button-to-bring-bottom">
      <!-- col-1 for button -->
      <ion-col class="button-alignCenter">
        <!-- Next Button -->
        <ion-button
          *ngIf="fromPage == 'profile'"
          color="dark"
          (click)="updateCategory()"
          [disabled]="selectedCategories.length === 0"
          >Save</ion-button
        >
        <ion-button
          *ngIf="fromPage == null"
          color="dark"
          (click)="updateCategory()"
          [disabled]="selectedCategories.length === 0"
          >Next</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
