

<ion-content [fullscreen]="true">

  <!-- HEADER START -->
  <ion-grid>
      <!-- row-01 -->
      <ion-row>
        <!-- col-01 -->
        <ion-col size="3">  
            <!-- empty for responsiveness -->
        </ion-col>

        <!-- col-02 for heading and border line -->
        <ion-col size="6">
          <div id="borderLine">
              <p id="headingStyle" class="large-text-color">Feeds</p>
          </div>
        </ion-col>

        <!-- col-03 for Setting-icon -->
        <ion-col size="3"> 
          <div id="setting-icon">
            <!-- ripple effect -->
            <div class="ion-activatable ripple">
                <ion-ripple-effect type = "unbounded"></ion-ripple-effect>
                <!-- setting icon -->
                <ion-icon src="../../../assets/icon/settings-icon.svg" id="setting-icon" (click)= "openSettingPage()"></ion-icon>
            </div>   
          </div>
        </ion-col>
      </ion-row>
  </ion-grid>
  <!-- HEADER END -->



  <!-- CONTENT-01 STARTS -->
  <div id="center">
  <ion-grid>
    <!-- row-01 image -->
    <ion-row>
      <ion-col>
        <div id="not-found-image" class="align-items-center">
            <img src="../../../assets/B2-images/not_found.svg">
        </div>
      </ion-col>
    </ion-row>

    <!-- row-02 image -->
    <ion-row>
      <ion-col size="12">
          <div id="not-found-text" class="align-items-center">
            <p>Sorry, No feeds available for your <br> prefered category!</p>
          </div>
      </ion-col>
    </ion-row>
  
  </ion-grid>
</div>
  <!-- CONTENT-01 ENDS -->


 
 
  <!-- CONTENT-02 STARTS -->

  <!-- CONTENT-02 ENDS -->


</ion-content>
