/*=========================================================
                        Common
==========================================================*/
ion-grid{
    margin : 10px;
}
.large-text-color{
    color: var(--ion-color-dark);
}
// ripple effect for icon
.ripple{
    position: relative;
    overflow: hidden;
    color: var(--ion-color-secondary);
}
/*=========================================================
                        Header
==========================================================*/
// Heading font style
#headingStyle{
    font: bold 24px 'Raleway', sans-serif;
    text-align: center;
}
// border line below header
#borderLine{
    border-bottom: 1px solid var(--ion-color-primary);
    height: 50%;
}
// setting icon
#setting-icon{
    zoom: 1.4;
    display: flex;
    justify-content: flex-end;
    padding: 7px 7px;
}

/*=========================================================
                        Not Found
==========================================================*/
// to bring overall content center
#center{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
}
// to bring image center
.align-items-center{
    text-align: center;
}
// text style
#not-found-text{
    line-height: 25px !important;
    letter-spacing: 1px;
    font: 500 14px 'Raleway', sans-serif;
    color: #6F6F6F;
}

