/*=======================================
        Total grid positioning
========================================*/
.grid-top-distance{
    margin-left: 25px;
    margin-top: 25px;
    margin-right: 25px;
    margin-bottom:30px;
}

/*=======================================
Ion-item with ion-input code
========================================*/

ion-item{
    --padding-start: 0px;
    border-bottom: 0.5px solid var(--ion-color-secondary) !important;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
}

ion-input{
    font-family: Quicksand;
    --placeholder-color: var(--ion-color-warning);
    --placeholder-opacity: 1; 
    margin-bottom:-20px; 
}

/*=======================================
Cancel and Change button 
========================================*/

ion-button{
    text-transform: none;
    --border-radius:5px;
}

.password-button{
    margin-top:30px;
    width: 73px;
    height:31px;
    font-size:12px;
}

.cancel-button{
    margin-left:-6px;
}

.change-button{
    margin-left:25px;
    margin-right:-4px;
}
